#!/bin/bash
# --- AWS credentials ---
export AWS_ACCESS_KEY_ID="xxx"
export AWS_SECRET_ACCESS_KEY="yyy"

# A default AWS region to create intances
# See list: https://awsregion.info/
export AWS_DEFAULT_REGION="zzz"

# --- Extra env vars ---
# A `TF_` prefix tells Terraform to read this var.
# Terraform parses these variables in `variables.tf` removing prefix.

# Personal public key for SSH connection (a value "ssh-rsa zzzzz").
# To read the key from a file use following value:
# "$(cat ~/.ssh/path/to/file.pub)"
export TF_VAR_STUDY_ANSIBLE_PUBLIC_KEY="$(cat ~/.ssh/id_rsa.pub)"

# A path to private SSH key file.
export TF_VAR_STUDY_ANSIBLE_PRIVATE_KEY_FILE="~/.ssh/id_rsa"

# Set a personal SSH access security rule for the instance like this
# "xxx.xxx.xxx.xxx/32"
# To get personal external IP-address dynamically use:
# "$(curl --silent http://ipecho.net/plain)/32"
export TF_VAR_STUDY_ANSIBLE_PERSONAL_SSH_ACCESS_CIDR="$(curl --silent http://ipecho.net/plain)/32"
